
<!-- ---------------------------Header----------------------------- -->
<div class="contener">
    <app-header></app-header>
<!-- ----------------------------Header-------------------------- -->
 <!-- ici c'est la div qui englobe et le sidebar et le corps du dashboard -->
    <div class="sidbarEtDashboard">

          <div class="sidebar">
            <app-sidebar></app-sidebar>
          </div>
        

        <div class="centralDashboard" *ngIf="this.currentUser.role === 'Administrateur'">
          <!-- <app-tableau></app-tableau>    ici je mets le dashboard_Admin de fadal-->
           <app-test></app-test>
        </div>
        <div class="centralDashboard" *ngIf="this.currentUser.role === 'Utilisateur'">
            <!--<app-table-archive></app-table-archive>  ici je mets le dashboard_Admin de fadal -->

            <app-test2></app-test2>
        </div>


    </div><!--fin de la div "sidbarEtDashboard"   -->
 </div><!--fin du contener   -->


