
<header class="header">
  <div class="menu_admin">
      <div class="infos">
          <div>
              <div class="profil d-flex justify-center">
                  <!-- <img [src]="currentUser.imageUrl" class="img-fluid rounded-circle"  alt=""> -->
                  <img src="https://media.discordapp.net/attachments/1054326970202202194/1055069837359071302/logo.png?width=413&height=413" class="img-fluid rounded-circle"  alt="">
              </div>
          </div>
          <div class="nom">
            <h3>{{ this.currentUser.prenom }} {{ this.currentUser.nom }}</h3>
            <p>{{ this.currentUser.matricule }}</p>
            <!-- pour le matricule, je doit m'inspirer du ts de page admin -->
          </div>
      </div>
      <div class="end">
        <h3 style="color: #FFFFFF;">{{currentDate | date:'dd-MM-yyyy hh:mm:ss z '}}</h3>
      </div>
      <div class="end">
        <a class="m-1 h1" (click)="deconection()"><i id="bi" class=" bi-box-arrow-left"></i> </a>
      </div>
  </div>
</header>
