.header {
  background-color: #0C7C8F;
  height: 110px;
}

.menu_admin {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

.profil {
  background-color: #fff;
  border-radius: 15px;
  width: 100px;
  height: 100px;
  margin-top: 5px;
}

.infos {
  display: flex;
}

.infos p {
  margin-left: 5px;
  margin-top: 0px;
}

.nom {
  margin: 30px;
}
.nom h3, p{
  color: #fff;
}

.end {
  margin-top: 30px;
}
.end a{
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.end a:hover{
  color: #e493a3;
  border-radius: 5px;
}

.bi{color: #FFFFFF;
font-weight: bold;font-size:40px !important;}

#bi:hover{color: red;
 font-weight: bold;}

//  .fa-myfontawersome {
//   font-size:22px !important;
// }
